footer {
    position: absolute;
    bottom: -100px;
    display: flex;
    flex-flow: row wrap;
    color: #ff9c00;
    width: 100%;
    background: url("../images/grass_8.jpg") repeat-x center;
    background-size: contain;
}

footer div {
    margin-left: 3%;
    width: 20%;
}

footer ul li {

    list-style: none;
}

footer ul {
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    cursor: pointer;
    color: #ff9c00;
}

footer span {
    color: #fff;
}

footer img {
    margin-top: 10px;
    max-height: 15px;
}

#last {
    position: absolute;
    bottom: 2%;
}

.socials1 {
     display: inline-block;
     background: url("../images/twitter.png") no-repeat center;
     background-size: cover;
     width: 25px;
     height: 25px;
 }

.socials2 {
    display: inline-block;
    background: url("../images/facebook.png") no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

.socials3 {
    display: inline-block;
    background: url("../images/google+.png") no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-left: 2px;
}

@media screen and (max-width: 800px) {
    div {

    }
}